frontend/node_modules/
frontend/*.local

backend/logs
backend/*.log
__pycache__/
*.py[cod]
backend/*$py.class
backend/.venv/
backend/venv/
backend/ENV/

.vscode/
.venv/
.superpowers/
.env
*.db

*.debug
*.sqlite3
frontend/dist/

*.md
!*README*.md
/docs
