frontend/node_modules/
frontend/*.local

backend/logs
backend/*.log
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.venv/
backend/venv/
backend/ENV/

.vscode/
.venv/
.env

*.debug
*.sqlite3

*.md
!*README*.md